<a href="/">Voltar</a>
<h1 class="tituloInfo">{{user.name}}</h1>
<h5 class="info">Item: {{user.item}}</h5>
<h5 class="info">Quantidade: {{user.quantity}}<h5/>
<h5 class="info">Localização de recolhimento: {{user.locale}}<h5/>
<h5 class="info">Contato: {{user.contact}}<h5/>
<h5 class="info">Inserção: {{user.createdAt}}<h5/>

